# Environment Configuration
NODE_ENV=development

# Server Configuration
PORT=5000
BASE_URL=http://localhost:5000

# Database Configuration
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/databasename?retryWrites=true&w=majority

# CORS Configuration
FRONTEND_URL=http://localhost:3000



